<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="Tesseract" publicKeyToken="ebeb3d86bef60cbe" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors />
    <bindings>
      <netTcpBinding>
        <binding name="bitmapOverTcp" receiveTimeout="00:03:00" sendTimeout="00:03:00" maxBufferSize="524288" maxReceivedMessageSize="524288" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="CodeStrikeBot.Services.CodeBotService">
        <endpoint address="net.tcp://localhost:2633" binding="netTcpBinding" bindingConfiguration="bitmapOverTcp" contract="CodeStrikeBot.Services.ICodeBotService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
